mixin card(imgUrl, sectionName, sectionDescription, sectionList, sectionUrl)
  .col-xs-12.col-md-6.col-lg-4
    .card.mb-4.shadow
      img(
        src=imgUrl
        alt=sectionName
        class="card-img-top"
      )
      .card-body
        h5.card-title.text-primary #{sectionName}
        p.card-text #{sectionDescription}
        ul
          each val in sectionList
            li= val
        a(
          class="btn btn-secondary card__button"
          href=sectionUrl
        ) More
